# Terraform

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.tfstate.lock.info

# Terraform variable files

*.tfvars
*.tfvars.json

# Override files

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files

.env
*.pem
*.key

# IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
